<div class="container-fluid min-vh-100% bg-light d-flex flex-column">
    <div class="container flex-grow-1 mt-4">
        <h3 class="mb-4">➕ Add New Contact</h3>
        <form action="/contact" method="POST" class="row g-3 " novalidate>
            <div class="col-md-6">
                <label for="firstname" class="form-label">First Name *</label>
                <input type="text" class="form-control" id="firstname" name="firstname" required>
                <div class="invalid-feedback">Please enter first name.</div>
            </div>

            <div class="col-md-6">
                <label for="lastname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastname" name="lastname">
            </div>

            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
                <div class="invalid-feedback">Please enter a valid email.</div>
            </div>

            <div class="col-md-6">
                <label for="phone" class="form-label">Phone *</label>
                <input type="text" class="form-control" id="phone" name="phone">
                <div class="invalid-feedback">Please enter a valid email.</div>
            </div>

            <div class="col-md-12">
                <label for="address" class="form-label">Address</label>
                <textarea class="form-control" id="address" name="address" rows="2"></textarea>
            </div>

            <div class="col-md-6">
                <label for="birthday" class="form-label">Birthday</label>
                <input type="date" class="form-control" id="birthday" name="birthday">
            </div>

            <div class="col-md-12">
                <label for="notes" class="form-label">Notes</label>
                <textarea class="form-control" id="notes" name="notes" rows="2"></textarea>
            </div>

            <div class="col-12 mb-4">
                <button type="submit" class="btn btn-primary">Save Contact</button>
                <a href="/contact" class="btn btn-secondary ms-2">Cancel</a>
            </div>
        </form>
        <% if (message && success) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= message %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% }else if(message && !success){%>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= message %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <%} %>

    </div>
</div>
<!-- <div id="msg"
    style="position: fixed; bottom: 20px; right: 20px; background: #4BB543; color: white; padding: 10px 20px; border-radius: 5px; display: none;">
</div> -->

<script src="/script/addContactFormValidations.js"></script>